.header__navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 13px;
}
.main__category-title {
    font-size: 40px;
}
.investition-section .block__heading {
    max-width: 100%;
}
.investition-more_house .heading__features li {
    height: 151px;
}
.investition-more_house .heading__features li .content {
    height: 100%;
}
.investition-more_house .investition-section__block-slider .options__wrapper .custom-control-label {
    font-size: 13px;
}
.investition-more_house .investition-section__block-slider .options__wrapper .investition-section__docs {
    height: 94px;
}
.investition-more_apartments .heading__features li b, .investition-more_rent .heading__features li b, .investition-more_auto .heading__features li b {
    height: 38px;
}
.investition-more_apartments .heading__features li .content {
    height: 152px;
}
.investition-more_auto .investition-section__list-heading.second li:before{
    top: 86px;
}
.investition-more_auto .investition-section__list-heading.second li:after{
    top: 72px;
}
.investition-more_auto .investition-section__list-heading.second li .counter{
    top: 105px;
}
.investition-more_rent .heading__features li {
    flex: 0 0 43%;
}
.investition-more_rent .heading__features li .content {
    height: 152px;
}
.investition-more_fitness .investition-section__list-heading.second li {
    width: 40%;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header__navbar-collapse .navbar-nav {
        margin-top: 13px;
    }
    .header__navbar-collapse .navbar-nav .nav-item .nav-link {
        height: 48px;
        text-align: center;
    }
    .main__category-title {
        font-size: 32px;
    }
    .main__category-wrapper {
        height: 305px;
    }
    .main__category-wrapper b {
        font-size: 19px;
    }
    .main__category-wrapper p {
        min-height: 126px;
    }
    .main__calculator-wrapper .calculator__costs {
        width: 120px;
    }
    .investition__block .left .pre {
        width: 260px;
        margin-right: -28px;
    }
    .investition__block .left p {
        min-height: 150px;
    }
    .investition-section__heading-left, .investition-section__heading-right {
        font-size: 19px;
    }
    .investition-section__block-avia-left b {
        font-size: 29px;
    }
    .investition-more_house .investition-section__block-slider {
        margin-left: -40px;
        padding: 15px 10px 25px 25px;
    }
    .investition-more_house .investition-section__block-slider .calculate .left, .investition-more_house .investition-section__block-slider .calculate .right {
        width: 50%;
    }
    .investition-section__block-house-main b {
        font-size: 31px;
    }
    .investition-section__list-reasons li {
        flex: 0 0 245px;
    }
    .investition-section__block-slider {
        height: calc(100% - 8%);
    }
    .investition-more_auto .heading__features li {
        flex: 0 0 45%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .main__category-title {
        font-size: 36px;
    }
    .main__category-wrapper p {
        min-height: 108px;
    }
    .main__calculator-wrapper .calculator__costs {
        flex: 0 0 100px;
        width: 100px;
    }
    .main__calculator-wrapper .calculator__money-type {
        width: 32px;
        flex: 0 0 32px;
    }
    .partners__block p {
        flex: 0 0 150px;
    }
    .investition-section__heading-left, .investition-section__heading-right {
        font-size: 23px;
    }
    .investition-more_apartments .heading__features li .content b {
        font-size: 14px;
        height: 50px;
    }
    .investition-section__block-slider {
        height: calc(100% - 6%);
    }
    .investition-more_rent .heading__features li {
        flex: 0 0 33%;
    }
    .investition-more_rent .heading__features li .content b {
        font-size: 14px;
        height: 50px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .deposits .block__heading {
        font-size: 34px;
    }
    .deposits__type {
        font-size: 28px;
    }
    .investition-more_fitness .investition-section__list-heading.second li {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .main__category-title {
        font-size: 32px;
    }
    .investition-section__block-avia-left b {
        font-size: 24px;
    }
    .deposits__type {
        font-size: 26px;
    }
    .investition-more_auto .investition-section__list-heading li .content {
        height: auto;
    }
    .investition-more_auto .investition-section__list-heading.second li .counter {
        top: -10px;
    }
    .investition-more_fitness .investition-section__list-heading.second li {
        width: 100%;
    }
}