html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 14px 'Montserrat', sans-serif;
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 100%
    &_auth
        background-color: #f4f4f4
.footer
    flex-shrink: 0

@import "rangeslider"
@import "slick"
@import "slick-theme"
@import "magnific-popup"

@import "header"
@import "content"
@import "footer"

@import "media"