.block
    &__heading
        display: block
        font-size: 44px
        font-weight: 900
        color: #253b41
    &__desc
        color: #253b41
        margin-bottom: 40px
.p-50px
    padding: 50px
=placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::placeholder
        @content
.mfp-iframe-holder
    .mfp-content
        height: 100%
.news
    padding: 48px 0 58px
    background: linear-gradient(to right, #fff 0%,#fff 100%) no-repeat calc(50vw - 310px) 0px / 1200px, #f4f4f4
    &__block
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-bottom: 30px
    &__image
        flex: 0 0 35%
        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 50%
            border-radius: 5px
    &__text
        flex: 0 0 60%
        .heading
            display: block
            font-size: 24px
            margin-bottom: 12px
    &__tags
        display: flex
        align-items: center
        margin-top: 12px
        p
            margin-bottom: 0
        .date
            color: $gray-400
            margin-right: 14px
        .tag
            background-color: $gray-400
            border-radius: 5px
            padding: 8px 0
            text-align: center
            min-width: 172px
            height: 32px
        a
            height: 32px
            padding: 8px 0
            width: 172px
            margin-left: auto
    &__pagination
        list-style: none
        margin: 0
        padding: 15px 0 0
        display: flex
        justify-content: center
        li
            a
                display: block
                line-height: 1
                color: $black
                font-size: 14px
                font-weight: 300
                padding: 9px
                transition: all 0.3s ease
                &.active, &:hover
                    color: $blue
                    text-decoration: none
                    font-weight: 700
    &__categories
        list-style: none
        display: flex
        flex-direction: column
        li
            border-left: 4px solid rgba(0,0,0,0)
            transition: all 0.3s ease
            a
                display: flex
                align-items: center
                color: #c8c8c8
                padding: 14px 0 14px 25px
                transition: all 0.3s ease
                img
                    display: block
                    margin-right: 7px
                    width: 17px
                    height: 17px
                    object-fit: contain
                    transition: all 0.3s ease
            &:hover
                background-color: rgba(255,255,255,0.3)
                border-left: 4px solid $blue
                a
                    text-decoration: none
                    color: $black
                    img
                        filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8)
    &__subscribe
        background-color: $blue
        border-radius: 5px
        color: $white
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 19px
        width: 206px
        margin: 0 0 0 auto
        p
            text-align: center
            font-weight: 300
        form
            button
                width: 100%
.partners
    padding: 48px 0 58px
    background: #f4f4f4
    .block
        &__heading, &__desc
            text-align: center
        &__desc
            &_main
                font-size: 20px
                margin: 0 auto 15px
    &__block
        border: 1px solid $gray-500
        border-radius: 5px
        display: flex
        align-items: center
        padding: 20px
        margin-bottom: 16px
        p
            margin: 0
            padding: 0 15px 0 0
            flex: 0 0 20%
        ul
            list-style: none
            margin: 0
            padding: 0
            display: flex
            flex: 0 0 80%
            flex-wrap: wrap
            align-items: center
            li
                background-color: $white
                display: flex
                align-items: center
                justify-content: center
                width: 24%
                height: 127px
                border-radius: 5px
                margin-right: 10px
                img
                    display: block
                    align-self: center
                    max-width: 120px
                &:nth-child(4n)
                    margin-right: 0
.jobs
    padding: 48px 0 58px
    background: #f4f4f4
    .block
        &__heading, &__desc
            text-align: center
        &__desc
            margin: 0 auto 45px
            max-width: 600px
            &_main
                font-size: 20px
                margin: 0 auto 15px
    &__list
        display: flex
        flex-direction: column
        margin: 0
        padding: 0
        list-style: none
        counter-reset: jobs
        li
            margin-bottom: 10px
            a
                display: flex
                align-items: center
                position: relative
                color: $gray-400
                padding: 13px
                border: 1px solid $gray-500
                border-radius: 5px
                transition: all 0.3s ease
                img
                    display: block
                    width: 20px
                    height: 20px
                    flex: 0 0 20px
                    object-fit: contain
                    margin-right: 15px
                    transition: all 0.3s ease
                &:after
                    counter-increment: jobs
                    content: counter(jobs)
                    color: $gray-400
                    line-height: 1
                    position: absolute
                    right: 10px
                    top: 50%
                    transform: translateY(-50%)
                    font-size: 18px
                    font-weight: 700
                    transition: all 0.3s ease
                &:hover
                    color: $white
                    background-color: rgb(1, 145, 198)
                    box-shadow: 0px 5px 9px 0px rgba(1, 145, 198, 0.28)
                    text-decoration: none
                    img
                        filter: contrast(2)
                    &:after
                        color: $white
    &__features
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 0 0 -30px
        padding: 0
        list-style: none
        counter-reset: features
        li
            flex: 0 0 45%
            position: relative
            padding-left: 50px
            margin-bottom: 30px
            b
                display: block
                color: $blue
                font-weight: 900
            &:before
                counter-increment: features
                content: counter(features)
                font-weight: 100
                color: $black
                font-size: 90px
                line-height: 1
                position: absolute
                top: -10px
                left: -10px
    &__pros
        display: flex
        justify-content: space-between
        margin: 0
        padding: 0
        list-style: none
        li
            position: relative
            display: flex
            flex-direction: column
            width: 25%
            div
                display: flex
                align-items: center
                justify-content: center
                background-color: $blue
                border-radius: 50%
                width: 46px
                height: 46px
                flex: 0 0 46px
                margin-bottom: 14px
                img
                    display: block
                    align-self: center
                    width: 24px
                    height: 24px
                    flex: 0 0 24px
            &:after
                content: ''
                background: url("../img/icons/jobs/icon-8.svg") no-repeat center center / contain
                width: 77px
                height: 22px
                position: absolute
                top: 10px
                left: 60px
            &:last-child
                width: 56%
                &:after
                    display: none
    &__block
        background-color: $white
        border-radius: 5px
        padding: 30px
        height: 100%
        &.left
            height: auto
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
        .heading
            display: block
            font-size: 18px
            margin-bottom: 15px
        .text
            font-size: 17px
            font-weight: 300
        .features
            display: flex
            align-items: center
            img
                display: block
                align-self: center
                margin-right: 20px
                width: 24px
                height: 24px
            p
                margin: 0
                font-weight: 300
        form
            .heading
                text-align: center
            .form-control
                padding: 6px 12px 6px 32px
                color: $gray-500
                border-radius: 5px
                font-size: 14px
                border: 1px solid $gray-500
                +placeholder
                    color: $gray-500
                &.user
                    background: url("../img/icons/form-user.png") no-repeat left 8px center / 17px, #fff
                &.phone
                    background: url("../img/icons/form-phone.png") no-repeat left 8px center / 17px, #fff
                &.mail
                    background: url("../img/icons/form-mail.png") no-repeat left 8px center / 17px, #fff
            .custom-file
                &-label
                    padding: 6px 12px 6px 40px
                    border-radius: 5px
                    border: 1px solid $gray-500
                    color: $gray-500
                    font-size: 14px
                    +placeholder
                        color: $gray-500
                    &::after
                        content: '+'
                        right: 100%
                        transform: translateX(32px)
                        background-color: $gray-500
                        color: $white
                        font-size: 20px
                        line-height: 1
                        border: none
                        border-radius: 5px
            button
                margin-top: 15px
                width: 100%
.deposits
    padding: 48px 0 58px
    background: #f4f4f4
    .block
        &__heading, &__desc
            text-align: center
        &__heading
            &.deposits
                &__calculator
                    &-heading
                        text-align: left
                        margin-bottom: 28px
                        font-size: 32px
        &__desc
            &_main
                font-size: 20px
                margin: 0 auto 15px
    &__block
        margin-bottom: 50px
    &__type
        color: #253b41
        font-size: 32px
        font-weight: 900
        line-height: 1
        border-radius: 5px
        margin-bottom: 28px
        a
            color: #009bce
            font-size: 14px
            font-weight: 400
            position: relative
            top: -4px
    &__table
        background-color: $white
        padding: 22px 33px
        display: flex
        flex-direction: column
        margin-bottom: 15px
    &__heading
        display: flex
        align-items: center
        padding-bottom: 25px
        margin-bottom: 33px
        border-bottom: 1px solid #dddddd
        b
            display: block
            line-height: 1
            font-size: 20px
            font-weight: 400
        .currency
            display: flex
            width: 44px
            height: 44px
            flex: 0 0 44px
            border-radius: 50%
            background-color: $blue
            color: $white
            justify-content: center
            align-items: center
            font-size: 28px
            font-weight: 300
            margin: 0 32px 0 20px
            img
                display: block
                width: 32px
                height: 32px
        .bonus
            margin-bottom: 0
            display: flex
            justify-content: center
            align-items: center
            width: 150px
            text-align: center
            background-color: #7121a2
            color: $white
            height: 50px
            padding: 0 15px
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
        .block
            display: flex
            flex-direction: column
            width: 15%
            b
                display: block
                font-size: 27px
                line-height: 1
                font-weight: 400
                margin-bottom: 10px
                text-align: center
            p
                text-align: center
                margin-bottom: 0
                color: $gray-500
            &.alt
                p
                    color: $black
        &_invest
            .block
                width: 19%
                .table
                    thead,tbody,td,th
                        border: none
                        padding: 0
                        text-align: center
                    thead
                        th
                            padding: 2px 0 10px
                            position: relative
                            top: -2px
                            white-space: pre
                            text-align: center
.cards
    padding-bottom: 57px
    &-top
        padding: 50px 0 80px
        background: #f4f4f4
        .block
            &__heading
                margin-top: 30px
                font-size: 44px
            &__desc
                font-size: 18px
                margin: 0 50px 15px 0
                &_main
                    font-size: 20px
                    margin: 0 auto 15px
    &__image
        display: block
        margin-left: 100px
    &__heading
        font-size: 29px
        display: block
        margin-top: 35px
    &__list
        margin: 24px 0 0
        padding: 0
        display: flex
        flex-direction: column
        list-style: none
        li
            display: flex
            align-items: center
            margin-bottom: 9px
            .counter
                border: 1px solid $blue
                border-radius: 50%
                width: 26px
                height: 26px
                flex: 0 0 26px
                display: flex
                justify-content: center
                align-items: center
                font-size: 20px
                margin-right: 18px
            p
                margin-bottom: 0
    &__block
        margin-top: 40px
        padding: 23px
        background: #f4f4f4
        .heading
            display: block
            text-align: center
        div
            display: flex
            justify-content: center
            align-items: center
            margin: 30px 0
            img
                display: block
                align-self: center
                min-width: 60px
        p
            text-align: center
.transfers
    padding: 48px 0 50px
    background: #f4f4f4
    .block
        &__heading,&__desc
            text-align: center
        &__desc
            &_main
                font-size: 20px
                margin: 0 auto 15px
    &__block
        background-color: $white
        padding: 30px
        margin-bottom: 30px
        height: calc(100% - 340px)
        &_right
            height: calc(100% - 32px)
        &_bottom
            height: auto
        .heading
            display: flex
            align-items: center
            justify-content: space-between
            b
                font-size: 30px
                display: block
                font-weight: 400
            .currencies
                display: flex
                align-items: center
                .icon
                    background-color: $blue
                    border-radius: 50%
                    display: flex
                    width: 58px
                    height: 58px
                    flex: 0 0 58px
                    align-items: center
                    justify-content: center
                    margin-right: 5px
                    p, i
                        color: $white
                        margin: 0
                        line-height: 1
                        font-size: 36px
                    img
                        display: block
                        width: 32px
                        height: 32px
                        flex: 0 0 32px
                    &:last-child
                        margin-right: 0
        ul
            margin: 30px 0 0
            padding: 0
            display: flex
            flex-direction: column
            list-style: none
            li
                display: flex
                align-items: center
                margin-bottom: 24px
                &:before
                    content: ''
                    width: 10px
                    height: 10px
                    flex: 0 0 10px
                    background-color: $blue
                    display: block
                    border-radius: 50%
                    margin-right: 18px
                p
                    margin-bottom: 0
                    font-size: 16px
                &:last-child
                    margin-bottom: 0
    &__table
        border-collapse: separate
        border-spacing: 5px
        margin-top: 35px
        margin-bottom: -8px
        tr,td
            border: none
        thead
            tr
                td
                    background-color: $blue
                    color: $white
                    border-radius: 5px
                    text-align: center
        tbody
            tr
                td
                    padding: 18px 9px
                    text-align: center
                    font-size: 21px
                    font-weight: 300
                    vertical-align: middle
                    line-height: 1.5
                    &:first-child
                        background-color: #f4f4f4
                        border-radius: 5px
                        font-size: 21px
                        font-weight: 400
                        width: 100%
                        min-height: 98px
                        display: flex
                        align-items: center
                        justify-content: center
                        .icon
                            background-color: $blue
                            border-radius: 50%
                            display: flex
                            width: 33px
                            height: 33px
                            flex: 0 0 33px
                            align-items: center
                            justify-content: center
                            margin-right: 12px
                            p, i
                                color: $white
                                margin: 0
                                line-height: 1
                                font-size: 18px
                            img
                                display: block
                                width: 20px
                                height: 20px
                                flex: 0 0 20px
                &:nth-child(2)
                    td
                        &:first-child
                            .icon
                                img
                                    margin-left: -3px
        &_bottom
            margin: -20px -30px -20px
            width: calc(100% + 60px)
            thead
                tr,td
                    border: none
                    font-size: 30px
                    font-weight: 400
                    text-align: center
                    padding: 20px 40px
                tr
                    td
                        &:first-child
                            width: 40%
                            text-align: left
                        &:last-child
                            padding: 20px 60px 20px 0
            tbody
                tr,td
                    border: none
                    padding: 20px 40px
                tr
                    &:nth-child(odd)
                        background-color: #f4f4f4
                    td
                        vertical-align: middle
                        span
                            display: block
                            color: $gray-500
                        &:nth-child(2),&:last-child
                            text-align: center
                            width: 20%
                        &:first-child
                            width: 40%
                        &:last-child
                            width: 25%
                            padding-right: 100px
.investition
    padding: 48px 0 50px
    .block
        &__heading,&__desc
            text-align: center
        &__desc
            margin: 0 auto 40px
            &_main
                font-size: 20px
                margin: 0 auto 15px
    &_main
        padding: 50px 0 25px
    &__block
        border: 1px solid $gray-500
        padding: 30px
        display: flex
        min-height: 260px
        margin-bottom: 30px
        .left
            display: flex
            flex-direction: column
            position: relative
            flex: 0 0 60%
            .pre
                display: block
                color: #c43b2b
            .heading
                display: block
                font-size: 22px
                margin-bottom: 15px
            p
                margin-bottom: 0px
                max-width: 240px
            a
                display: block
                font-size: 14px
                color: $blue
                transition: all 0.3s ease
                position: absolute
                bottom: 0
                left: 0
                &:hover
                    color: darken($blue, 10%)
        .right
            display: flex
            justify-content: flex-end
            flex: 0 0 40%
            img
                display: block
                align-self: center
                width: 224px
                height: 170px
                object-fit: contain
                margin-left: 0px
        &_wide
            .left
                flex: 0 0 420px
                p
                    max-width: 360px
            .right
                flex: 0 0 748px
                margin: -30px
                img
                    width: 748px
                    height: 257px
                    object-fit: cover
.investition-more
    .heading
        padding: 48px 0 50px
        background-color: #f4f4f4
        .container
            background: url("../img/kasko__bg.jpg") no-repeat right center, #fff
            height: 304px
        .block
            &__heading
                font-size: 36px
                width: 700px
                padding-left: 30px
                padding-top: 30px
            &__desc
                padding-left: 30px
                &_main
                    font-size: 20px
                    margin: 0 auto 15px
        &__features
            list-style: none
            display: flex
            align-items: center
            margin: 0
            padding: 0 0 0 50px
            li
                display: flex
                align-items: center
                .image
                    display: flex
                    margin-right: 23px
                    width: 42px
                    height: 42px
                    flex: 0 0 42px
                    justify-content: center
                    align-items: center
                    background-color: $blue
                    border-radius: 50%
                    img
                        display: block
                        align-self: center
                        width: 26px
                        height: 26px
                        flex: 0 0 26px
                .content
                    b
                        display: block
                        margin-bottom: 6px
                        font-size: 16px
                        //min-height: 38px
                    p
                        margin: 0
    &_fitness
        .heading
            padding: 48px 0 150px
            .container
                background: url("../img/fitness__bg.jpg") no-repeat right center, #fff
            .block
                &__heading
                    width: 640px
                    min-height: 159px
            &__features
                padding: 0 0 0 30px
                margin-right: -30px
                align-items: stretch
                li
                    background-color: $white
                    padding: 11px
                    flex: 0 0 55%
                    box-shadow: 0px 3px 49px 0px rgba(0, 0, 0, 0.11)
                    margin-right: 15px
                    .content
                        align-self: flex-start
    &_apartments, &_rent, &_auto
        .heading
            padding: 48px 0 60px
            .container
                background: url("../img/apartments__bg.jpg") no-repeat right center, #fff
                height: 354px
            .block
                &__heading
                    width: 600px
            &__features
                padding: 0 0 0 30px
                margin-right: -90px
                margin-top: -20px
                li
                    background-color: $white
                    padding: 11px
                    flex: 0 0 40%
                    position: relative
                    .image
                        position: absolute
                        top: 11px
                        left: 11px
                    b
                        padding-left: 50px
    &_rent
        .heading
            .container
                background: url("../img/rent__bg.jpg") no-repeat right center, #fff
                height: 354px
            .block
                &__heading
                    min-height: 159px
    &_auto
        .heading
            .container
                background: url("../img/auto__bg.jpg") no-repeat right center, #fff
                height: 354px
            .block
                &__heading
                    width: 660px
                    min-height: 159px
            &__features
                margin-top: -20px
                align-items: flex-start
                li
                    flex: 0 0 40%
                    margin-right: 80px
                    background: none
                    &:nth-child(2)
                        background: none
                        color: $black
                    &:last-child
                        margin-top: 0
                        &:before
                            content: ''
                            height: 80%
                            width: 1px
                            background-color: $gray-500
                            display: block
                            position: absolute
                            left: -45px
        .investition-section__list-heading li
            width: 25%
            height: 102px
            .content
                height: 102px
            &:before
                top: 115px
            &:after
                top: 105px
            .counter
                top: 135px
        .investition-section__list-heading.second li
            width: 30%
            height: auto
            .content
                height: auto
        .investition-section
            .block
                &__heading
                    max-width: 100%
    &_about
        .heading
            background-color: $white
            .container
                background: none
                height: auto
                margin-top: 0
                padding-left: 0
            .block
                &__heading
                    width: 100%
                    margin-top: 0
                    padding: 0
                    text-align: center
                    font-size: 40px
                &__desc
                    padding: 0
                    text-align: center
            &__list
                list-style: none
                display: flex
                align-items: flex-start
                justify-content: center
                margin: 0
                padding: 0
                li
                    position: relative
                    //flex: 0 0 125px
                    margin-right: 30px
                    a
                        display: block
                        color: $black
                        font-weight: 700
                        position: relative
                        &:after
                            content: ''
                            width: 100%
                            height: 2px
                            background-color: $red
                            display: block
                            position: absolute
                            bottom: -10px
                            left: 0
                            opacity: 0
                            transition: all 0.3s ease
                        &:hover
                            text-decoration: none
                            &:after
                                opacity: 1
                    &:after
                        content: ''
                        width: 1px
                        height: 30px
                        display: block
                        background-color: $gray-400
                        position: absolute
                        right: -15px
                        top: -5px
                        transform: rotate(30deg)
                    &:last-child
                        &:after
                            display: none
    &_house
        .heading
            padding: 48px 0 140px
            .container
                background: url("../img/house__bg.png") no-repeat right 10px top 0px / contain
                height: 313px
                margin-top: -30px
                padding-left: 20px
            .block
                &__heading
                    margin-top: 30px
                    width: 640px
            &__features
                margin-top: 50px
                li
                    flex: 0 0 280px
                    margin-right: 20px
                    background: none
                    position: relative
                    .counter
                        position: absolute
                        top: -30px
                        left: -25px
                        display: block
                        font-size: 75px
                        color: $blue
                        font-weight: 900
                    &:before
                        display: none
                    div
                        background-color: $white
                        position: relative
                        padding: 18px
                        box-shadow: 0px 8px 62px 0px rgba(0, 0, 0, 0.1)
                        //height: 170px
                        z-index: 1
                        b
                            color: $blue
                    &:nth-child(2)
                        background: none
                        color: $black
                    &:last-child
                        margin-top: 0
        .investition-section__list-heading li
            width: 40%
            height: 92px
            .content
                height: 102px
            a
                text-decoration: underline
                font-style: italic
                white-space: pre
        .investition-section__list-heading.second
            max-width: 100%
        .investition-section__list-heading.second li
            width: 30%
            height: 90px
            .content
                height: auto
            .counter
                top: 125px
            &:before
                top: 102px
            &:after
                top: 90px
        .investition-section__docs-heading
            background-color: #f4f4f4
            text-align: center
            padding: 19px
            max-width: 255px
            margin: 0 auto 30px
            position: relative
            &:after
                content: ''
                width: 0
                height: 0
                border-style: solid
                border-width: 7px 7.5px 0 7.5px
                border-color: $white transparent transparent transparent
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
            p
                margin-bottom: 0
        .investition-section_dark
            .investition-section__block-kasko
                height: calc(100% - 50px)
                margin-bottom: 40px
                b
                    height: 50px
                    margin-bottom: 15px
        .investition-section__block-slider
            background: none
            margin-left: -80px
            >p
                max-width: 100%
            .calculate
                display: flex
                align-items: stretch
                margin-bottom: 5px
                margin-top: -20px
                .left, .right
                    background-color: $white
                    flex: 0 0 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $black
                    p
                        display: flex
                        justify-content: space-between
                        align-items: center
                        text-align: center
                        margin-bottom: 0
                        font-size: 13px
                        font-weight: 300
                        span
                            display: block
                            text-align: center
                            background-color: #f4f4f4
                            border-radius: 5px
                            width: 160px
                            margin: 7px auto 0 10px
                            padding: 8px 0
                            line-height: 1
                            font-size: 19px
                            white-space: pre
                .right
                    p
                        span
                            width: 80px
            .options__wrapper
                display: flex
                align-items: flex-start
                .options
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    background-color: #f4f4f4
                    padding: 14px
                    flex: 0 0 50%
                    min-height: 94px
                    .left
                        flex: 0 0 auto
                        text-align: center
                        font-size: 13px
                        margin-bottom: 10px
                        p
                            margin-bottom: 0
                            margin-right: 5px
                            margin-left: -5px
                    .right
                        display: flex
                        flex: 0 0 auto
                        margin-left: 5px
                        .custom-radio
                            margin-right: 10px
                            .custom-control-label
                                &:before, &:after
                                    top: 0
                .investition-section__docs
                    border-radius: 4px
                    background-color: $white
                    padding: 11px
                    flex: 0 0 47%
                    margin: 0 auto 0 15px
                    position: relative
                    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.11))
                    &:after
                        content: ''
                        width: 0
                        height: 0
                        border-style: solid
                        border-width: 0 10px 7px 10px
                        border-color: transparent transparent $white transparent
                        position: absolute
                        top: -5px
                        left: 70%
    &_avia
        .heading
            padding: 48px 0 80px
            .container
                background: url("../img/avia__bg.png") no-repeat left top
                max-width: 1304px
                width: 1304px
                height: 310px
                margin-top: -30px
                position: relative
                left: 64px
            .block
                &__heading
                    width: 500px
                    padding-top: 50px
            &__features
                padding: 0 0 0 30px
                margin-top: 60px
                margin-right: -100px
                //align-items: flex-start
                align-items: stretch
                li
                    width: 55%
                    margin-right: 50px
                    .content
                        align-self: flex-start
                        b
                            min-height: 0
        .investition-section__block-slider
            height: auto
            >b
                max-width: 400px
                margin: 0 auto
            >p
                max-width: 100%
            &__wrap
                position: relative
                height: 49px
                .form-control
                    font-size: 24px
                    margin-bottom: -1px
                    margin-top: -10px
                .form__wrapper
                    p
                        font-size: 24px
                        font-weight: 300
            .calculate
                background-color: $white
                align-items: center
                margin: 0 -40px
                width: calc(100% + 90px)
                .left
                    flex: 0 0 210px
                    background-color: $white
                    color: $black
                    p
                        text-align: center
                        margin-bottom: 
                    b
                        font-size: 40px
                        display: block
                        line-height: 1
                        margin: -10px auto 0
                        text-align: center
                .right
                    flex: 0 0 56%
                    display: flex
                    flex-direction: column
                    border: 1px solid $blue
                    border-radius: 5px
                    height: 120px
                    div
                        display: flex
                        align-items: center
                        justify-content: space-between
                        width: 100%
                        margin-bottom: 20px
                        b
                            display: block
                            font-size: 16px
                            line-height: 1
                            flex: 0 0 35%
                            text-align: center
                        p
                            margin-bottom: 0
                            text-align: left
                            flex: 0 0 60%
            .button
                max-width: 180px
                margin: 15px auto
    &_kasko
        .heading
            &__features
                li
                    .content
                        b
                            min-height: 0
    &_osago
        .heading
            .container
                background: url("../img/osago__bg.jpg") no-repeat right center, #fff
            &__features
                li
                    .content
                        b
                            min-height: 0
.investition-section
    .block
        &__heading, &__desc
            text-align: center
        &__heading
            font-size: 36px
            max-width: 800px
            margin: 30px auto
        &__desc
            &_main
                font-size: 19px
                margin: 0 auto 15px
    &_dark
        background: #f4f4f4
        padding-top: 50px
    &_main
        padding-bottom: 74px
    &_calculator
        padding: 15px 0
        .block
            &__heading
                margin: 15px auto 30px
    &_about
        &-income
            margin-top: 80px
            padding-top: 0
            padding-bottom: 30px
            .block
                &__heading
                    max-width: 100%
            .button
                max-width: 220px
                margin: 0 auto
    &__note
        &-about
            max-width: 740px
            margin: 0 auto 20px
            border: 1px solid $gray-500
            border-radius: 5px
            padding: 40px 64px
            position: relative
            text-align: center
            /*&:before
                content: ''
                background: url('../img/icons/about/warning.png') no-repeat center center / 32px
                width: 33px
                height: 33px
                position: absolute
                top: 50%
                left: -17px
                transform: translateY(-50%)*/
    &__block
        &-about
            &-bottom
                display: flex
                flex-direction: column
                background-color: $white
                border-radius: 5px
                box-shadow: 0px 10px 5px 0px rgba(198, 198, 198, 0.26)
                height: calc(100% - 50px)
                margin-bottom: 50px
                padding: 15px 19px
                .image
                    display: flex
                    width: 60px
                    height: 60px
                    flex: 0 0 60px
                    justify-content: center
                    align-items: center
                    background-color: $blue
                    border-radius: 50%
                    margin-bottom: 18px
                    img
                        display: block
                        align-self: center
                        width: 30px
                        height: 30px
                        flex: 0 0 30px
                b
                    display: block
                    font-size: 18px
                    margin-bottom: 15px
                p
                    margin-bottom: 0
        &-avia
            &-title
                display: flex
                align-items: center
                max-width: 770px
                margin: 30px auto 40px
                b
                    display: block
                    font-size: 36px
                    font-weight: 800
                    flex: 0 0 240px
                    margin-right: 22px
                p
                    margin-bottom: 0
                &-2
                    text-align: center
                    font-size: 24px
                    display: block
                    margin-bottom: 60px
            &-heading
                .top
                    display: flex
                    align-items: center
                    margin: 0 auto
                    max-width: 230px
                    img
                        display: block
                        align-self: center
                        margin-right: 21px
                        width: 42px
                        height: 42px
                        flex: 0 0 42px
                    p
                        margin-bottom: 0
                        font-size: 21px
                        font-weight: 300
                        width: 200px
                .mid
                    display: flex
                    align-items: center
                    height: 116px
                    margin: 40px auto 22px
                    max-width: 262px
                    position: relative
                    .left,.right
                        flex: 0 0 50%
                        display: flex
                        align-items: center
                        justify-content: center
                        border: 1px solid $gray-500
                        height: 116px
                        p
                            margin-bottom: 0
                            font-size: 15px
                            font-weight: 300
                            text-align: center
                            span
                                display: block
                                font-size: 54px
                                line-height: 1
                    &:after
                        content: ''
                        background: url("../img/icons/avia/icon-8.png?v=2") no-repeat center center / 20px, $blue
                        border-radius: 50%
                        width: 36px
                        height: 36px
                        display: block
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%,-50%)
                .bot
                    max-width: 190px
                    margin: 0 auto
                    p
                        margin-bottom: 0
                        text-align: center
            &-sum
                text-align: center
                margin: 44px auto
                display: flex
                align-items: center
                justify-content: center
                max-width: 280px
                background-color: $blue
                color: $white
                font-size: 17px
                font-weight: 300
                height: 48px
            &-left
                b
                    font-size: 30px
                    display: block
                    text-align: center
                    font-weight: 400
                    min-height: 111px
                ul
                    list-style: none
                    display: flex
                    margin: 50px 0 0
                    padding: 0
                    flex-wrap: wrap
                    align-items: center
                    justify-content: space-between
                    li
                        flex: 0 0 48%
                        height: 130px
                        margin-bottom: 18px
                        div
                            background-color: $white
                            display: flex
                            height: 100%
                            align-items: center
                            justify-content: center
                            box-shadow: 0px 3px 49px 0px rgba(0, 0, 0, 0.11)
                            img
                                display: block
                                align-self: center
                                max-width: 160px
            &-bottom
                display: flex
                align-items: center
                margin-bottom: 60px
                .outer
                    background: url("../img/icons/avia/outer.svg") no-repeat left top / 385px
                    display: flex
                    width: 94px
                    height: 94px
                    flex: 0 0 94px
                    justify-content: center
                    align-items: center
                    margin-right: 30px
                    .image
                        display: flex
                        width: 70px
                        height: 70px
                        flex: 0 0 70px
                        border-radius: 50%
                        justify-content: center
                        align-items: center
                        background-color: $white
                        box-shadow: 0px 2px 18px 0px rgba(0, 155, 206, 0.27)
                        img
                            display: block
                            align-self: center
                            width: 32px
                            height: 32px
                            flex: 0 0 32px
                p
                    margin-bottom: 0
                    width: 190px
        &-house
            display: flex
            background-color: $white
            padding: 28px
            flex-direction: column
            align-items: center
            height: calc(100% - 80px)
            margin-top: 40px
            margin-bottom: 40px
            .image
                display: flex
                width: 58px
                height: 58px
                flex: 0 0 58px
                justify-content: center
                align-items: center
                margin: -60px 0 12px
                background-color: #c43b2b
                border-radius: 50%
                img
                    display: block
                    align-self: center
                    width: 40px
                    height: 40px
                    flex: 0 0 40px
            p
                margin-bottom: 0
                text-align: center
            &-bottom
                display: flex
                align-items: center
                padding: 35px
                box-shadow: 0px 2px 106px 0px rgba(0, 0, 0, 0.11)
                margin-bottom: 60px
                height: calc(100% - 60px)
                img
                    display: block
                    align-self: center
                    flex: 0 0 25%
                    max-width: 100%
                    object-fit: contain
                    margin-right: 23px
                div
                    flex: 0 0 75%
                    height: 100%
                    padding-right: 25px
                    position: relative
                    p
                        padding-bottom: 50px
                    a
                        position: absolute
                        bottom: 0
                        max-width: 244px
                        width: 100%
            &-main
                background: url("../img/house-block__bg.jpg") no-repeat center center / cover
                padding: 92px 50px
                color: $white
                width: 550px
                margin-top: 20px
                margin-bottom: 30px
                b
                    display: block
                    font-size: 36px
                p
                    margin: 42px 0 0
        &-kasko
            display: flex
            flex-direction: column
            background-color: $white
            box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08)
            position: relative
            padding: 24px
            //margin: 0 50px 50px
            margin: 0 50px 12%
            //height: calc(100% - 300px)
            b
                display: block
                color: $blue
                font-size: 24.65px
                margin-bottom: 10px
            .image
                position: absolute
                left: -55px
                top: 50%
                transform: translateY(-50%)
                display: flex
                width: 69px
                height: 69px
                flex: 0 0 69px
                background-color: $blue
                justify-content: center
                align-items: center
                img
                    display: block
                    align-self: center
                    width: 32px
                    height: 32px
                    flex: 0 0 32px
            p
                line-height: 1.4
        &-slider
            background-color: #f4f4f4
            padding: 15px 63px 25px
            height: calc(100% - 11%)
            >b
                display: block
                font-size: 36px
                text-align: center
            >p
                text-align: center
                max-width: 300px
                margin: 13px auto 15px
            .button
                max-width: 200px
                margin: 27px auto 0
            &__block
                flex: 0 0 49%
            &__wrap
                border: 1px solid #000
                border-radius: 5px
                padding: 15px
                margin-bottom: 27px
                label
                    font-size: 16px
                    font-weight: 300
                .form__wrapper
                    display: flex
                    align-items: flex-start
                .form-control
                    font-size: 16px
                    font-weight: 300
                    background: none
                    border: none
                    margin: -15px -15px -5px
                    width: 32px
                    min-width: 32px
                    &:focus
                        outline: 0
                        box-shadow: none
                        border: none
                .house-buffer, .kasko-buffer, .house-buffer-discount, .kasko-buffer-discount
                    font-size: 16px
                    font-weight: 300
                    white-space: nowrap
                    position: absolute
                    top: -1000px
                    left: -1000px
                    visibility: hidden
                p
                    margin-top: -5px
                    margin-bottom: 0
                .rangeslider
                    background-color: #000
                .rangeslider--horizontal
                    height: 1px
                    margin: 5px -13px -16px
                    width: calc(100% + 26px)
                .rangeslider__fill
                    background-color: lighten($blue, 10%)
                .rangeslider__handle
                    top: -15px
                    width: 38px
                    height: 38px
                    background: url("../img/slider-select.png") no-repeat center center
                    box-shadow: none
                    border-radius: 0
                    border: none
                    &:after
                        display: none
            .calculate
                display: flex
                align-items: stretch
                margin-bottom: 5px
                .left
                    background-color: $blue
                    color: $white
                    flex: 0 0 20%
                    padding: 20px 0
                    b
                        display: block
                        font-size: 14px
                        text-align: center
                        span
                            display: block
                            font-size: 26px
                            text-align: center
                .right
                    background-color: $white
                    flex: 0 0 80%
                    display: flex
                    align-items: center
                    justify-content: center
                    p
                        text-align: center
                        margin-bottom: 0
                        span
                            display: block
                            text-align: center
                            background-color: #f4f4f4
                            border-radius: 5px
                            width: 126px
                            margin: 7px auto 0
                            padding: 8px 0
                            line-height: 1
    &__docs
        max-width: 540px
        margin: 0 auto 62px
        display: flex
        align-items: center
        img
            display: block
            margin-right: 25px
            width: 46px
            height: 46px
            flex: 0 0 46px
        p
            margin-bottom: 0
    &__autocare
        list-style: none
        display: flex
        align-items: center
        flex-wrap: wrap
        margin: 15px 0 40px
        padding: 0
        justify-content: space-between
        li
            margin-bottom: 25px
            flex: 0 0 18%
            img
                display: block
                max-width: 100%
                margin: 0 auto
    &__list
        list-style: none
        display: flex
        align-items: flex-start
        margin: 45px 0 40px
        padding: 0
        justify-content: space-between
        li
            display: flex
            flex-direction: column
            align-items: center
            width: 15%
            position: relative
            .counter
                display: flex
                width: 30px
                height: 30px
                flex: 0 0 30px
                justify-content: center
                align-items: center
                background-color: #c43b2b
                color: $white
                font-weight: 400
                font-size: 14px
                border-radius: 50%
                line-height: 1
                margin-bottom: -15px
                position: relative
                z-index: 1
            div
                width: 124px
                height: 124px
                flex: 0 0 124px
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid $gray-500
                border-radius: 50%
                margin-bottom: 36px
                img
                    align-self: center
                    width: 48px
                    height: 48px
                    flex: 0 0 48px
                    object-fit: contain
            p
                margin-bottom: 0
                text-align: center
                a
                    text-decoration: underline
                    color: $blue
                    &:hover
                        color: $blue
            &:after
                content: ''
                width: 77px
                height: 22px
                background: url("../img/icons/jobs/icon-8.svg") no-repeat center center / contain
                display: block
                position: absolute
                top: 70px
                left: 210px
            &:last-child
                &:after
                    display: none
        &-reasons
            list-style: none
            display: flex
            align-items: flex-start
            margin: 45px auto 30px
            padding: 0
            justify-content: space-between
            position: relative
            li
                position: relative
                display: flex
                align-items: center
                flex: 0 0 310px
                .counter
                    display: flex
                    color: $blue
                    font-size: 98px
                    font-weight: 900
                    line-height: 1
                    margin-right: 15px
                div
                    b
                        display: block
                        font-size: 18px
                    p
                        margin: 10px 0 0
                &:after
                    content: ''
                    width: 10px
                    height: 10px
                    display: block
                    background-color: $gray-500
                    border-radius: 50%
                    position: absolute
                    top: 40px
                    right: -50px
                &:last-child
                    &:after
                        display: none
        &-heading
            list-style: none
            display: flex
            align-items: flex-start
            margin: 45px auto 120px
            padding: 0
            justify-content: space-between
            position: relative
            &:after
                content: ''
                width: 100%
                height: 2px
                background-color: $gray-500
                position: absolute
                left: 0
                bottom: -20px
            li
                display: flex
                flex-direction: column
                width: 25%
                position: relative
                min-height: 90px
                .counter
                    position: absolute
                    left: 50%
                    top: 125px
                    transform: translateX(-50%)
                .content
                    display: flex
                    align-items: center
                    .image
                        margin-right: 26px
                        display: flex
                        width: 58px
                        height: 58px
                        flex: 0 0 58px
                        justify-content: center
                        align-items: center
                        border-radius: 50%
                        background-color: #c43b2b
                        img
                            display: block
                            align-self: center
                            width: 36px
                            height: 36px
                            flex: 0 0 36px
                p
                    margin-bottom: 0
                &:before
                    content: ''
                    width: 10px
                    height: 10px
                    border-radius: 50%
                    position: absolute
                    background-color: $gray-500
                    top: 105px
                    left: 50%
                    transform: translateX(-50%)
                &:after
                    content: ''
                    width: 38px
                    height: 38px
                    position: absolute
                    background: url("../img/icons/kasko/icon-list.png?v=2") no-repeat center center
                    top: 95px
                    left: 50%
                    z-index: 1
                    transform: translateX(-50%)
                    opacity: 0
                    transition: all 0.3s ease
                &:hover
                    &:after
                        opacity: 1
            &.second
                max-width: 800px
                li
                    width: 33%
                    min-height: 58px
                    .counter
                        top: 95px
                    &:before
                        top: 72px
                    &:after
                        top: 60px
        &-about
            list-style: none
            margin: 18px 0 0
            padding: 45px 0 20px
            display: flex
            flex-direction: column
            position: relative
            &:after
                content: ''
                background-color: $blue
                width: 1px
                height: 90%
                position: absolute
                left: 23px
                top: 25px
            li
                display: flex
                align-items: center
                margin-bottom: 15px
                position: relative
                z-index: 1
                .counter
                    display: flex
                    width: 47px
                    height: 47px
                    flex: 0 0 47px
                    background-color: $blue
                    border-radius: 50%
                    color: $white
                    justify-content: center
                    align-items: center
                    margin-right: 28px
                p
                    margin-bottom: 0
                &:after
                    content: ''
                    width: 10px
                    height: 10px
                    display: block
                    background-color: $blue
                    border-radius: 50%
                    position: absolute
                    bottom: -12px
                    left: 19px
                &:last-child
                    &:after
                        display: none
            &-right
                &:after
                    background-color: #f4f4f4
                li
                    .counter
                        background-color: #f4f4f4
                        color: $black
                    &:after
                        background-color: #f4f4f4
        &-certs
            list-style: none
            padding: 45px 0 80px
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
            li
                flex: 0 0 30%
                margin: 0 1.5% 30px
                a
                    display: flex
                    align-items: center
                    border: 1px solid $gray-500
                    border-radius: 5px
                    padding: 9px
                    color: $black
                    transition: all 0.3s ease
                    img
                        display: block
                        align-self: center
                        margin-right: 18px
                        max-width: 100px
                    p
                        margin-bottom: 0
                        width: 110px
                    &:hover
                        text-decoration: none
                        background-color: $blue
                        border-color: $blue
                        color: $white
                        box-shadow: 0px 3px 16px 0px rgba(1, 145, 198, 0.58)
        &-income
            list-style: none
            margin: 0
            padding: 0 0 60px
            display: flex
            align-items: flex-start
            justify-content: space-between
            li
                display: flex
                flex-direction: column
                flex: 0 0 20%
                position: relative
                align-items: center
                .outer
                    display: flex
                    width: 110px
                    height: 110px
                    flex: 0 0 110px
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    transition: all 0.3s ease
                    background-color: $gray-200
                    box-shadow: inset 0px 2px 8px 0px rgba(0, 5, 7, 0.31)
                    margin-bottom: 24px
                    .inner
                        display: flex
                        background-color: $white
                        transition: all 0.3s ease
                        width: 58px
                        height: 58px
                        border-radius: 50%
                        flex: 0 0 58px
                        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.36)
                        justify-content: center
                        align-items: center
                        img
                            display: block
                            max-height: 40px
                            transition: all 0.3s ease
                p
                    margin-bottom: 0
                    text-align: center
                    padding: 0 15px
                &:after
                    content: ''
                    background: url("../img/icons/jobs/icon-8.svg") no-repeat center center / contain
                    display: block
                    width: 73px
                    height: 22px
                    position: absolute
                    right: -35px
                    top: 45px
                &:last-child
                    &:after
                        display: none
                .decor
                    position: absolute
                    width: 13px
                    height: 13px
                    background-color: #c43b2b
                    border-radius: 50%
                    top: 50px
                    z-index: 1
                    transition: all 0.3s ease
                    opacity: 0
                    &-right
                        right: 23px
                    &-left
                        left: 21px
                &:hover
                    .outer
                        background-color: #c43b2b
                        box-shadow: none
                        .inner
                            background-color: #c43b2b
                            box-shadow: none
                            img
                                filter: saturate(0) brightness(4) contrast(4)
                    .decor
                        opacity: 1
    &__carousel
        .slick-prev, .slick-next
            width: 60px
            height: 60px
            background-color: $white
            box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.09)
            border-radius: 50%
            z-index: 1
            left: -30px
            top: 65%
            &:before
                content: ''
                background: url("../img/icons/angle-up.png") no-repeat center center / 20px
                width: 20px
                height: 20px
                display: block
                position: relative
                left: 50%
                transform: translateX(-50%) rotate(180deg)
        .slick-prev
            top: 35%
            &:before
                transform: translateX(-50%)
        .carousel-cell
            background-color: #f4f4f4
            padding: 30px 60px
            &__heading
                width: 230px
                margin: 0 auto
                display: flex
                align-items: center
                .counter
                    display: flex
                    width: 49px
                    height: 49px
                    flex: 0 0 49px
                    justify-content: center
                    align-items: center
                    border: 1px solid $blue
                    border-radius: 50%
                    margin-right: 13px
                    font-weight: 300
                    font-size: 14px
                p
                    margin-bottom: 0
                    font-weight: 300
            .numbers
                display: flex
                align-items: center
                height: 62px
                background-color: $white
                border-radius: 5px
                margin-top: 44px
                margin-bottom: 30px
                .left
                    background-color: $blue
                    border-radius: 5px
                    height: 62px
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0 6px
                    flex: 0 0 50%
                    b
                        display: block
                        color: $white
                        line-height: 1
                        font-size: 21px
                        font-weight: 800
                .right
                    flex: 0 0 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    p
                        margin-bottom: 0
                        margin-left: 14px
    &__total
        display: flex
        align-items: center
        height: 72px
        padding-right: 8px
        margin-top: 13px
        .left,.right
            height: 72px
            background-color: #f4f4f4
            display: flex
            align-items: center
            justify-content: center
        .left
            padding: 0 8px
            margin-right: 8px
            border-radius: 5px 0 0 5px
            flex: 0 0 45%
            b
                display: block
                font-size: 22px
                text-align: center
        .right
            border-radius: 0 5px 5px 0
            padding: 0 10px
            flex: 0 0 55%
            p
                margin-bottom: 0
                text-align: center
    &__heading
        &-left, &-right
            padding: 15px 35px
            background-color: $blue
            color: $white
            line-height: 1
            font-size: 21px
        &-right
            background-color: #f4f4f4
            color: $black
    &.safety
        .safety
            &__block
                box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)
                padding: 60px 80px
                height: 100%
                b
                    display: block
                    color: #c43b2b
                    text-transform: uppercase
                    font-size: 50px
                    font-weight: 900
                    margin-bottom: 30px