.footer
    background-color: #17272c
    color: $white
    padding: 33px 0 77px
    font-weight: 300
    font-size: 12px
    line-height: 1.4
    &__logo
        display: block
        margin-bottom: 17px
        width: 161px
        height: 30px
    &__text
        width: 200px
    &__link
        color: $white
        text-decoration: none
        display: block
        margin: 15px 0 24px 50px
        &:hover
            color: $white
    &__copy
        margin: 25px 0 0 50px
    ul
        display: flex
        list-style: none
    p
        margin-bottom: 0
    &__phone
        color: $white
        font-size: 21px
        font-weight: 400
        display: block
        margin: 11px 0 28px
        &:hover
            color: $white
    &__socials
        margin: 0
        padding: 0
        li
            margin-right: 14px
            a
                display: flex
                width: 37px
                height: 37px
                flex: 0 0 37px
                justify-content: center
                align-items: center
                border: 1px solid $white
                border-radius: 50%
                color: $white
                img
                    display: block
                    width: 18px
                    height: 18px
                    flex: 0 0 18px
                &:hover
                    color: $white
                    text-decoration: none
                &:focus
                    outline: 0
    &__address
        padding: 0
        margin: 0 -30px 0 50px
        justify-content: space-between
        li
            display: flex
            flex: 0 0 19%
            div
                display: flex
                flex-direction: column
                .city
                    display: block
                    font-size: 14px
                    margin-top: 5px
                .phone
                    display: block
                    font-size: 16px
                    color: $white
                    margin: 3px 0 15px
                    &:hover
                        color: $white