.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 5px
    background-color: $gray-300
    color: $gray-500
    padding: 13px
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    &:hover
        background-color: darken($blue, 10%)
        color: $white
        text-decoration: none
    &:focus
        outline: 0
    &__active
        background-color: $blue
        color: $white
    &__subscribe
        background-color: #c43b2b
        color: $white
        &:hover
            background-color: darken(#c43b2b, 10%)
.header
    height: 133px
    border-bottom: 2px solid #dddddd
    overflow: visible
    .navbar-brand
        img
            width: 161px
            height: 30px
    &__navbar
        align-items: flex-start
        padding: 23px 0 0
        &-collapse
            flex-direction: column
            align-items: flex-end
            .navbar-nav
                margin-top: 28px
                margin-left: -180px
                width: calc(100% + 180px)
                justify-content: space-between
                .nav-item
                    .nav-link
                        color: $black
                        position: relative
                        font-weight: bolder !important
                        &:after
                            content: ''
                            position: absolute
                            bottom: -9px
                            left: 0
                            height: 2px
                            width: 100%
                            background-color: $red
                            transition: all 0.3s ease
                            transform: scaleX(0)
                            z-index: 2
                    &.active, &:hover
                        .nav-link
                            color: $black
                            font-weight: 400
                            &:after
                                transform: scaleX(1)
                    &:hover
                        .nav-link
                            font-weight: 400
                    &.active
                        .nav-link
                            color: #c43b2b
                        &:hover
                            .nav-link
                                font-weight: 400
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 41px
            height: 41px
    .navbar-toggler-icon
        background: url("../img/menu__icon-close.svg") no-repeat center center
        width: 41px
        height: 41px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    &__top
        display: flex
        align-items: center
    &__phone
        display: flex
        width: 140px
        flex: 0 0 140px
        align-items: center
        font-size: 14px
        margin-right: 28px
        color: $black
        transition: all 0.3s ease
        img
            display: block
            margin-right: 14px
            width: 18px
            height: 18px
        &:hover
            color: $blue
            text-decoration: none
    &__switch
        button, a
            border-radius: 0
        button:first-child, a:first-child
            border-radius: 5px 0 0 5px
        button:last-child, a:last-child
            border-radius: 0 5px 5px 0
    &__button
        @extend .button
        background-color: $blue
        color: $white
        margin-left: 17px
        width: 174px
        flex: 0 0 174px
        img
            display: block
            margin-right: 9px
            width: 14px
            height: 14px
    &_auth
        background-color: #f4f4f4
        padding-top: 58px
        height: 174px
        border-bottom: none
        .header__navbar
            padding: 0 100px
.main
    &__carousel
        background-color: #f8f8f8
        padding: 0
        .carousel
            margin-bottom: -5px
            .slick-prev,.slick-next
                background-color: $white
                width: 54px
                height: 54px
                border-radius: 50%
                z-index: 2
                box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.11)
                &:before
                    content: ''
                    background: url("../img/icons/angle-right.png?v=2") no-repeat center center / 22px
                    display: block
                    width: 22px
                    height: 22px
                    position: absolute
                    top: 16px
                    left: 14px
            .slick-prev
                left: 0px
                &:before
                    transform: rotate(180deg)
            .slick-next
                right: 0px
                &:before
                    left: 17px
            .slick-dots
                bottom: 30px
                li
                    margin: 0 1px
                    width: 16px
                    height: 16px
                    &.slick-active
                        button
                            border: 1px solid #c43b2b
                            &:before
                                color: #c43b2b
                                opacity: 1
                    button
                        padding: 0
                        width: 13px
                        height: 13px
                        border: 1px solid #f8f8f8
                        border-radius: 50%
                        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2)
                        &:before
                            width: 13px
                            height: 13px
                            color: $white
                            opacity: 1
                            font-size: 13px
                            line-height: 1.4
                            top: -1px
                            right: -1px
            .carousel-cell
                width: 100%
                height: 460px
                padding: 100px 48px 0 100px
                position: relative
                &:focus
                    outline: 0
                b
                    display: block
                    font-size: 40px
                    max-width: 500px
                    margin-bottom: 10px
                p
                    font-size: 18px
                    font-weight: 300
                    max-width: 420px
                ul
                    list-style: none
                    display: flex
                    align-items: center
                    margin: 20px 0 20px
                    padding: 0
                    li
                        display: flex
                        align-items: center
                        flex: 0 0 200px
                        margin-right: 30px
                        img
                            display: block
                            align-self: center
                            margin-right: 14px
                            width: 32px
                            height: 32px
                            flex: 0 0 32px
                            object-fit: contain
                        p
                            font-size: 14px
                            margin-bottom: 0
                &__image
                    display: block
                    position: absolute
                    right: 0
                    top: 0
                    width: 552px
                    height: 454px
                    z-index: -1
                    object-fit: contain
                &__buttons
                    display: flex
                    align-items: center
                    .button
                        width: 100%
                        max-width: 180px
                        margin-right: 15px
                        color: $black
                        &:hover
                            color: $white
                        &__subscribe
                            color: $white
                &_slide
                    &-2
                        .carousel-cell__image
                            width: 636px
                    &-3
                        .carousel-cell__image
                            width: 656px
                    &-4
                        .carousel-cell__image
                            width: 737px
                    &-5
                        .carousel-cell__image
                            width: 600px
                            right: 0px
                            top: 20px
                    &-6
                        .carousel-cell__image
                            width: 590px
                            height: 530px
    &__category
        margin-top: 42px
        &-title
            display: block
            color: #c43b2b
            text-transform: uppercase
            font-size: 43px
            font-weight: 900
        &-wrapper
            border-radius: 4px
            background-color: $white
            box-shadow: 0px 8px 62px 0px rgba(0, 0, 0, 0.1)
            padding: 30px
            margin-top: 12px
            b
                display: block
                font-size: 21px
                text-transform: uppercase
                font-weight: 700
                letter-spacing: -1px
                min-height: 75px
                margin-bottom: 10px
            p
                min-height: 100px
    &__calculator
        &-note
            text-align: center
        &-wrapper
            background-color: $white
            padding: 22px
            margin-bottom: 10px
            min-height: 125px
            .calculator
                &__heading
                    display: block
                    font-size: 25px
                &__choices
                    display: flex
                    align-items: center
                    margin-top: 15px
                    button
                        appearance: none
                        border: none
                        display: block
                        border-radius: 5px
                        background-color: #f4f4f4
                        font-weight: 700
                        padding: 9px
                        cursor: pointer
                        margin: 0 6px 0 0
                        transition: all 0.3s ease
                        &:hover, &.active
                            background-color: $blue
                            color: $white
                        &:focus
                            outline: 0
                &__pre
                    font-size: 17px
                    margin: 15px 0
                &__block
                    display: flex
                    align-items: center
                    margin-top: 18px
                &__costs
                    background-color: #f4f4f4
                    border-radius: 5px
                    height: 32px
                    border: none
                    display: flex
                    align-items: center
                    justify-content: center
                    text-align: center
                &__money-type
                    background-color: #f4f4f4
                    border-radius: 5px
                    height: 32px
                    width: 57px
                    flex: 0 0 57px
                    margin: 0 6px
                    display: flex
                    align-items: center
                    justify-content: center
                &__button
                    appearance: none
                    border: none
                    display: flex
                    border-radius: 5px
                    background-color: $blue
                    color: $white
                    font-size: 20px
                    width: 32px
                    height: 32px
                    flex: 0 0 32px
                    line-height: 0.5
                    justify-content: center
                    align-items: center
                    font-weight: 700
                    padding: 9px
                    cursor: pointer
                    margin: 0 6px 0 0
                    &:hover
                        background-color: $blue
                        color: $white
                    &:focus
                        outline: 0
        .calculator__table
            border-collapse: separate
            border-spacing: 4px
            thead *, tbody *
                border: none
            thead
                tr
                    th
                        background-color: $white
                        font-size: 19px
                        vertical-align: middle
            tbody
                tr
                    td, th
                        background-color: $white
                        vertical-align: middle
                    th
                        font-weight: 400
                        .t-req
                            color: #f10000
                        .custom-radio .custom-control-label
                            &:before,&:after
                                top: 1px
                    td
                        &:nth-child(2)
                            width: 28.1%
        .button
            margin: 0 auto 15px
            max-width: 200px