@media (min-width: 1200px)
    .container
        max-width: 1200px
    .main
        &__carousel
            .carousel
                .carousel-cell
                    display: flex
                    padding: 0 48px 0 100px
                    align-items: center
@media (min-width: 992px) and (max-width: 1199px)
    .p-50px
        padding: 30px
    .header
        &__navbar-collapse
            .navbar-nav
                .nav-item
                    .nav-link
                        font-size: 13px
                        padding: 8px 0
    .main
        &__carousel
            .carousel
                .carousel-cell
                    padding: 100px 48px 0
                    clip-path: inset(0px 0px)
                    margin-right: 0px
                    b
                        max-width: 540px
                    p
                        max-width: 480px
                    &_slide
                        &-1
                            .carousel-cell__image
                                right: -70px
                        &-2
                            .carousel-cell__image
                                right: -200px
                        &-3
                            .carousel-cell__image
                                right: -150px
                        &-4
                            .carousel-cell__image
                                right: -160px
                        &-5
                            .carousel-cell__image
                                right: -200px
                        &-6
                            .carousel-cell__image
                                right: -220px
                .slick-next
                    right: -15px
                .slick-prev
                    left: -25px
        &__category
            &-title
                font-size: 34px
            &-wrapper
                b
                    min-height: 75px
    .investition
        &__block
            .left
                p
                    max-width: 200px
            .right
                img
                    margin-left: -40px
            &_wide
                .left
                    flex: 0 0 420px
                    p
                        max-width: 360px
                .right
                    flex: 0 0 508px
                    margin: -30px
                    img
                        width: 508px
                        height: 257px
                        object-fit: cover
                        object-position: 0%
    .investition-more
        .heading
            .container
                background-position: right -270px center
            &__features
                padding: 0 0 0 30px
                width: 600px
        &_fitness
            .heading
                .container
                    background-position: right -270px center
                &__features
                    li
                        flex: 0 0 80%
        &_kasko
            .investition-section
                &__list
                    &-heading
                        li
                            .content
                                height: 126px
                            &:before
                                top: 140px
                            &:after
                                top: 130px
                            .counter
                                top: 170px
        &_osago
            .investition-section
                &__list
                    &-heading
                        li
                            .content
                                height: 126px
                            &:before
                                top: 140px
                            &:after
                                top: 130px
                            .counter
                                top: 170px
        &_rent
            .heading
                &__features
                    margin-top: -20px
                    margin-right: 0
                    width: 700px
                    li
                        .content
                            b
                                min-height: 36px
        &_auto
            .investition-section__list-heading
                li
                    width: 33%
        &_apartments
            .heading
                &__features
                    li
                        flex: 0 0 50%
        &_house
            .heading
                .container
                    background-position: right -200px top 0px
                    background-size: 1200px
            .investition-section
                &_dark
                    .investition-section__block-kasko
                        height: calc(100% - 60px)
                        margin-bottom: 50px
                        b
                            height: auto
                &__list
                    &-heading
                        &.second
                            li
                                height: auto
                                .content
                                    height: 144px
                                &:before
                                    top: 158px
                                &:after
                                    top: 148px
                                .counter
                                    top: 180px
        &_avia
            .heading
                .container
                    background-position: right 0px top 0px
                    left: 0
                &__features
                    width: 700px
            .investition-section__block-slider
                .calculate
                    .right
                        height: 100%
                        flex: 0 0 47%
    .investition-section
        &__list
            li
                &:after
                    left: 160px
            &-heading
                li
                    width: 30%
            &-certs
                flex-wrap: wrap
                li
                    flex: 0 0 30%
                    margin-bottom: 30px
        &__block
            &-house
                &-main
                    width: 100%
                    padding: 72px 35px
                &-bottom
                    img
                        margin-left: -23px
                        margin-right: 15px
                    div
                        flex: 0 0 72%
                        padding: 0
        &__heading
            &-left, &-right
                display: block
                padding: 15px 0
                text-align: center
        &.safety
            .safety
                &__block
                    b
                        font-size: 42px
    .transfers
        &__block
            height: auto
            &_right
                height: calc(100% - 30px)
            .heading
                b
                    font-size: 24px
                .currencies
                    display: flex
                    align-items: center
                    img
                        align-self: center
                        transform: scale(0.9)
        &__table
            tbody
                tr
                    td
                        font-size: 16px
    .cards
        &__image
            margin-left: 0
    .news
        background: linear-gradient(to right, #fff 0%, #fff 100%) no-repeat calc(50vw - 240px) 0px/1200px, #f4f4f4
        &__categories
            padding: 0
    .jobs
        &__pros
            li
                width: 35%
    .partners
        &__block
            ul
                li
                    width: 23.9%
    .footer
        &__phone
            font-size: 18px
@media (min-width: 768px) and (max-width: 991px)
    .p-50px
        padding: 15px
    .header
        height: 80px
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        &__switch
            margin-left: auto
        &__top
            justify-content: center
        &__navbar-collapse
            background-color: $white
            padding: 15px
            z-index: 10
            .navbar-nav
                margin: 15px 0 0
                width: 100%
                .nav-item
                    .nav-link
                        text-align: center
                        padding: 8px 0
                        &:after
                            display: none
        &_auth
            height: 170px
            position: static
            background-color: #f4f4f4
            .header
                &__navbar
                    padding: 0
                &__navbar-collapse
                    background: none
                    padding: 0
    .calculator
        &__table
            width: 1100px
    .main
        &__carousel
            padding: 80px 0 0px
            .carousel
                margin: 0 -40px
                width: calc(100% + 80px)
                .carousel-cell
                    max-width: 100%
                    margin-right: 0px
                    padding: 30px 48px
                    clip-path: inset(0px 0px)
                    b
                        width: 340px
                        font-size: 28px
                        height: auto
                    p
                        width: 340px
                        font-size: 14px
                    ul
                        flex-direction: column
                        align-items: flex-start
                        li
                            flex: 0 0 auto
                            margin-bottom: 15px
                    &__buttons
                        flex-direction: column
                        align-items: flex-start
                        .button
                            margin-bottom: 15px
                    &_slide
                        &-1
                            .carousel-cell__image
                                right: -50px
                        &-2
                            .carousel-cell__image
                                right: -130px
                        &-3
                            .carousel-cell__image
                                right: -100px
                        &-4
                            .carousel-cell__image
                                right: -200px
                        &-5
                            .carousel-cell__image
                                right: -140px
                        &-6
                            .carousel-cell__image
                                right: -230px
                .slick-prev
                    left: 10px
                .slick-next
                    right: 10px
        &__category
            &-title
                font-size: 40px
            &-wrapper
                b
                    min-height: 75px
        &__calculator
            &-wrapper
                .calculator__costs
                    flex: 0 0 140px
                    width: 140px
    .investition
        padding: 108px 0 58px
        &__block
            &_wide
                .left
                    flex: 0 0 320px
                    p
                        max-width: 280px
                .right
                    flex: 0 0 368px
                    margin: -30px
                    img
                        width: 368px
                        height: 257px
                        object-fit: cover
                        object-position: 0%
    .investition-more
        .heading
            padding: 108px 0 0px
            background-color: $white
            .container
                background: none
        &_fitness
            .heading
                padding: 108px 0 150px
                background-color: $white
                .container
                    background: none
                .block
                    &__heading, &__desc
                        padding-left: 0
                &__features
                    margin-right: 0
                    padding: 0
                    li
                        flex: 0 0 50%
        &_kasko
            .investition-section
                &__list
                    &-heading
                        flex-wrap: wrap
                        margin-bottom: 50px
                        &:after
                            bottom: 10px
                        &:before
                            content: ''
                            width: 100%
                            height: 2px
                            background-color: #adb5bd
                            position: absolute
                            left: 0
                            top: 120px
                        li
                            flex: 0 0 50%
                            &:before, &:after
                                top: 115px
                            &:after
                                top: 105px
                            .counter
                               top: 140px
        &_osago
            .investition-section
                &__list
                    &-heading
                        flex-wrap: wrap
                        margin-bottom: 50px
                        &:after
                            bottom: 10px
                        &:before
                            content: ''
                            width: 100%
                            height: 2px
                            background-color: #adb5bd
                            position: absolute
                            left: 0
                            top: 120px
                        li
                            flex: 0 0 50%
                            &:before, &:after
                                top: 115px
                            &:after
                                top: 105px
                            .counter
                               top: 140px
        &_rent
            .heading
                .container
                    height: auto
                &__features
                    margin-top: -20px
                    margin-right: 0
                    width: 100%
                    li
                        flex: 0 0 33%
                        .content
                            b
                                min-height: 36px
        &_auto
            .heading
                &__features
                    li
                        flex: 0 0 50%
            .investition-section__list-heading
                li
                    width: 33%
                    height: 150px
                    .content
                        height: 150px
                    .counter
                        top: 190px
                    &:before
                        top: 165px
                    &:after
                        top: 155px
        &_apartments
            .heading
                .container
                    height: auto
                &__features
                    width: 100%
                    li
                        flex: 0 0 33%
        &_house
            .heading
                .container
                    height: auto
                &__features
                    flex-direction: column
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 15px
            .investition-section
                &_dark
                    .investition-section__block-kasko
                        height: calc(100% - 60px)
                        margin-bottom: 50px
                        b
                            height: auto
                &__block
                    &-slider
                        margin: 0
                &__list
                    &-heading
                        li
                            height: 130px
                        &.second
                            li
                                height: auto
                                .content
                                    height: 220px
                                &:before
                                    top: 235px
                                &:after
                                    top: 225px
                                .counter
                                    top: 260px
        &_avia
            .heading
                .container
                    background: url("../img/avia__bg.png") no-repeat right -150px top 190px, linear-gradient(to right, #f4f4f4 0%,#f4f4f4 100%) no-repeat left 300px / 1200px, #fff
                    left: 0
                    width: 100%
                    height: auto
                    .block
                        &__heading, &__desc
                            text-align: center
                            width: 100%
                &__features
                    width: 100%
                    margin: 350px 0px 80px
            .investition-section__block-slider
                .calculate
                    margin: 0
                    width: 100%
                    .left
                        flex: 0 0 50%
                    .right
                        height: 100%
                        flex: 0 0 49%
    .investition-section
        &__list
            li
                width: 25%
                &:after
                    display: none
            &-heading
                li
                    height: 130px
                    width: 33%
                    &:before
                        top: 145px
                    &:after
                        top: 135px
                    .counter
                        top: 170px
                    .content
                        height: 126px
                &.second
                    li
                        height: auto
                        &:before
                            top: 105px
                        &:after
                            top: 90px
                        .counter
                            top: 120px
                        .content
                            height: 90px
            &-reasons
                flex-direction: column
                li
                    flex: 0 0 auto
                    &:after
                        display: none
                    .counter
                        width: 50px
                        flex: 0 0 50px
            &-income
                margin-left: -30px
                margin-right: 30px
                li
                    p
                        padding: 0 11px
                    &:after, .decor
                        display: none
            &-certs
                flex-wrap: wrap
                li
                    flex: 0 0 48%
                    margin-bottom: 30px
        &__block
            &-kasko
                margin: 0 0 50px 40px
            &-slider
                padding: 15px 30px
                &__block
                    flex: 0 0 auto
                    width: 100%
            &-house
                &-main
                    width: 100%
                &-bottom
                    flex-direction: column
                    img,div
                        flex: 0 0 auto
                    img
                        max-height: 100px
                    div
                        padding: 0
                        margin-top: 15px
                        a
                            bottom: 100px
            &-avia
                &-bottom
                    justify-content: center
                &-left
                    b
                        min-height: 0
        &__carousel
            margin-top: 30px
        &__heading
            &-left, &-right
                margin-top: 15px
                display: block
                padding: 15px 0
                text-align: center
        &.safety
            .safety
                &__block
                    padding: 30px 20px
                    b
                        font-size: 42px
    .transfers
        padding: 100px 0 58px
        &__block
            height: auto
            .heading
                b
                    font-size: 24px
                .currencies
                    display: flex
                    align-items: center
                    img
                        align-self: center
                        transform: scale(0.9)
                    .ruble
                        transform: scale(0.8)
        .table-responsive-lg
            overflow-y: hidden
        &__table
            tbody
                tr
                    td
                        font-size: 20px
            &_bottom
                width: 1000px
    .cards
        &-top
            padding: 130px 0 80px
            .block
                &__heading
                    font-size: 48px
                &__desc
                    font-size: 16px
        &__image
            margin-left: 0
            max-width: 100%
        &__block
            div
                img
                    max-width: 88px
    .deposits
        padding: 100px 0 58px
        &__body
            flex-wrap: wrap
            justify-content: center
            .block
                flex: 0 0 28%
                margin: 0 2.6% 15px
                &:nth-child(3)
                    b
                        text-align: center
                    p
                        text-align: center
    .news
        padding: 100px 0 58px
        background: linear-gradient(to right, #fff 0%, #fff 100%) no-repeat calc(50vw - 120px) 0px/1200px, #f4f4f4
        &__categories
            padding: 0
        &__block
            flex-direction: column
        &__image
            flex: 0 0 auto
            width: 100%
            margin-bottom: 15px
    .jobs
        padding: 100px 0 58px
        &__pros
            li
                width: 35%
        &__block
            margin-top: 15px
    .partners
        padding: 100px 0 58px
        &__block
            ul
                li
                    width: 23.3%
                    img
                        max-width: 100px
    .footer
        &__phone
            font-size: 18px
        &__address
            flex-wrap: wrap
            justify-content: flex-start
            li
                flex: 0 0 27%
                margin-bottom: 30px
                margin-right: 30px
@media (min-width: 576px) and (max-width: 767px)
    .header
        height: 80px
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        &__switch
            margin-left: auto
        &__top
            justify-content: center
        &__navbar-collapse
            background-color: $white
            padding: 15px
            z-index: 10
            .navbar-nav
                margin: 15px 0 0
                width: 100%
                .nav-item
                    .nav-link
                        text-align: center
                        padding: 8px 0
                        &:after
                            display: none
        &_auth
            height: 170px
            position: static
            background-color: #f4f4f4
            .header
                &__navbar
                    padding: 0
                &__navbar-collapse
                    background: none
                    padding: 0
    .calculator
        &__table
            width: 1100px
    .main
        &__carousel
            padding: 80px 0 0px
            .carousel
                margin: 0 -30px
                width: calc(100% + 60px)
                .carousel-cell
                    max-width: 100%
                    margin-right: 0px
                    padding: 15px
                    clip-path: inset(0px 0px)
                    b
                        width: 540px
                        font-size: 28px
                        height: auto
                    p
                        margin-top: 10px
                        width: 540px
                        font-size: 14px
                    ul
                        flex-direction: column
                        align-items: flex-start
                        margin-left: 50%
                        width: 50%
                        li
                            flex: 0 0 auto
                            margin-bottom: 15px
                            p
                                width: 100%
                    &__image
                        top: 90px
                    &__buttons
                        position: absolute
                        bottom: 60px
                        left: 50%
                        transform: translateX(-50%)
                        flex-direction: column
                        align-items: center
                        .button
                            margin: 0
                            width: 240px
                            max-width: 100%
                    &_slide
                        &-1
                            .carousel-cell__image
                                right: -60px
                        &-2
                            .carousel-cell__image
                                right: -60px
                                top: 80px
                                transform: scale(0.8)
                        &-3
                            .carousel-cell__image
                                right: -60px
                                top: 70px
                                transform: scale(0.8)
                        &-4
                            .carousel-cell__image
                                right: -100px
                                top: 80px
                                transform: scale(0.8)
                        &-5
                            .carousel-cell__image
                                right: -40px
                                top: 100px
                                transform: scale(0.8)
                        &-6
                            .carousel-cell__image
                                right: 0px
                                top: 45px
                                transform: scale(0.8)
                .slick-next, .slick-prev
                    display: none !important
    .block
        &__heading
            font-size: 38px
    .investition
        padding: 108px 0 58px
        .block
            &__desc
                margin: 0 auto 15px
        &__block
            flex-direction: column
            margin-bottom: 0px
            margin-top: 80px
            .left
                order: 1
                flex: 0 0 auto
                a
                    position: static
                    margin-top: 25px
                p
                    max-width: 100%
            .right
                order: 0
                flex: 0 0 auto
                img
                    height: 120px
                    margin: -90px auto 15px
            &_wide
                .right
                    margin: 0px
                    img
                        width: 100%
                        height: 257px
                        object-position: 80%
                        margin: -30px auto 15px
    .investition-more
        .heading
            padding: 108px 0 30px
            background-color: $white
            .container
                background: none
                .block
                    &__heading, &__desc
                        width: 100%
                        padding-left: 0
                        text-align: center
            &__features
                padding: 0
        &_fitness
            .heading
                padding: 108px 0 30px
                background-color: $white
                .container
                    background: none
                    height: auto
                .block
                    &__heading, &__desc
                        width: 100%
                        padding-left: 0
                        text-align: center
                &__features
                    margin-right: 0
                    padding: 0
                    flex-direction: column
                    li
                        flex: 0 0 auto
                        width: 100%
                        margin: 0 auto 15px
        &_rent
            .heading
                .container
                    height: auto
                &__features
                    margin-top: -20px
                    margin-right: 0
                    width: 100%
                    flex-direction: column
                    li
                        flex: 0 0 auto
                        width: 100%
                        height: auto
                        margin-bottom: 15px
                        .content
                            b
                                min-height: 36px
                        &:last-child
                            margin-top: 0
        &_auto
            .heading
                .container
                    height: auto
                &__features
                    flex-direction: column
                    li
                        .content
                            b
                                min-height: 36px
            .investition-section__list-heading
                li
                    width: 100%
                    height: 130px
                    .counter
                        top: 10px
                &.second
                    li
                        width: 100%
                        height: 130px
        &_apartments
            .heading
                .container
                    height: auto
                &__features
                    width: 100%
                    flex-direction: column
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 15px
                        .content
                            b
                                min-height: 36px
                        &:last-child
                            margin-top: 0
        &_house
            .heading
                .container
                    height: auto
                &__features
                    flex-direction: column
                    padding-left: 30px
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 15px
            .investition-section
                &_dark
                    .investition-section__block-kasko
                        height: auto
                        b
                            height: auto
                &__block
                    &-slider
                        margin: 0
                &__list
                    &-heading
                        li
                            width: 100%
                            height: 130px
                            .content
                                height: auto
                        &.second
                            li
                                width: 100%
                                height: 130px
                                .content
                                    height: auto
                                .counter
                                    top: -10px
        &_avia
            .heading
                .container
                    background: url("../img/avia__bg.png") no-repeat right -150px top 190px, linear-gradient(to right, #f4f4f4 0%,#f4f4f4 100%) no-repeat left 300px / 1200px, #fff
                    left: 0
                    width: 100%
                    height: auto
                    .block
                        &__heading, &__desc
                            text-align: center
                            width: 100%
                &__features
                    width: 100%
                    margin: 350px 0px 80px
                    flex-direction: column
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 30px
            .investition-section__block-slider
                .calculate
                    margin: 0
                    width: 100%
                    flex-direction: column
                    .left
                        flex: 0 0 auto
                    .right
                        height: auto
                        flex: 0 0 auto
                        margin-bottom: 30px
        &_about
            .heading
                &__list
                    flex-wrap: wrap
                    li
                        flex: 0 0 50%
                        margin-right: 0
                        text-align: center
                        margin-bottom: 30px
                        &:after
                            display: none
    .investition-section
        &__list
            flex-direction: column
            li
                width: 100%
                margin-bottom: 30px
                &:after
                    display: none
            &-heading
                flex-direction: column
                margin: 0 auto
                &:after
                    display: none
                li
                    height: 130px
                    width: 100%
                    p
                        margin-top: 20px
                    &:before, &:after
                        display: none
                    .counter
                        position: absolute
                        transform: none
                        font-size: 19px
                        top: -10px
                        left: 85px
                &.second
                    li
                        width: 100%
                        height: 130px
                        .counter
                            top: -10px
            &-reasons
                flex-direction: column
                li
                    width: 100%
                    flex: 0 0 auto
                    .counter
                        width: 60px
                        flex: 0 0 60px
                    &:after
                        display: none
            &-income
                flex-direction: column
                li
                    flex: 0 0 auto
                    width: 100%
                    margin-bottom: 30px
                    &:after, .decor
                        display: none
            &-certs
                flex-direction: column
                li
                    flex: 0 0 auto
                    width: 100%
                    margin-bottom: 30px
        &__block
            &-kasko
                margin: 0 0 50px 40px
            &-slider
                padding: 15px 30px
                height: auto
                &__block
                    flex: 0 0 auto
                    width: 100%
            &-house
                &-main
                    width: 100%
                &-bottom
                    img
                        width: 110px
            &-avia
                &-title
                    flex-direction: column
                    justify-content: center
                    b
                        flex: 0 0 auto
                    p
                        margin-top: 15px
                        text-align: center
                    &-2
                        margin-bottom: 0
                &-heading
                    margin-top: 30px
                &-left
                    b
                        min-height: 0
                &-bottom
                    justify-content: center
        &__carousel
            margin-top: 30px
        &__heading
            &-left, &-right
                margin-top: 15px
                display: block
                padding: 15px 0
                text-align: center
        &__note
            &-about
                padding: 40px 15px
                &:before
                    top: -15px
                    left: 50%
                    transform: translateX(-50%)
        &__autocare
            li
                flex: 0 0 50%
    .transfers
        padding: 100px 0 58px
        &__block
            height: auto
            .heading
                b
                    font-size: 24px
                .currencies
                    display: flex
                    align-items: center
                    img
                        align-self: center
                        transform: scale(0.9)
        .table-responsive-lg
            overflow-y: hidden
        &__table
            tbody
                tr
                    td
                        font-size: 20px
            &_bottom
                width: 1000px
    .cards
        &-top
            padding: 130px 0 80px
            .block
                &__heading
                    font-size: 48px
                    text-align: center
                &__desc
                    font-size: 16px
                    text-align: center
                    margin: 0 auto 15px
        &__image
            margin: 0 auto
            max-width: 100%
    .deposits
        padding: 100px 0 58px
        &__body
            flex-wrap: wrap
            justify-content: center
            .block
                flex: 0 0 50%
                margin-bottom: 15px
                &:nth-child(3)
                    b
                        text-align: center
                    p
                        text-align: center
    .news
        padding: 100px 0 58px
        background: linear-gradient(to right, #fff 0%, #fff 100%) no-repeat left 390px/1200px, #f4f4f4
        &__categories
            padding: 0
        &__block
            flex-direction: column
        &__text
            .heading
                text-align: center
        &__image
            flex: 0 0 auto
            width: 100%
            margin-bottom: 15px
        &__subscribe
            margin: 15px auto 0
    .jobs
        padding: 100px 0 58px
        &__pros
            flex-direction: column
            li
                width: 100%
                &:after
                    display: none
                &:last-child
                    width: 100%
        &__features
            flex-direction: column
        &__block
            margin-top: 15px
    .partners
        padding: 100px 0 58px
        &__block
            flex-direction: column
            p
                padding: 0
                text-align: center
            ul
                flex-direction: column
                margin-top: 15px
                li
                    width: 240px
                    margin-right: 0
                    margin-bottom: 15px
    .footer
        &__phone
            font-size: 18px
        &__address
            flex-direction: column
            margin: 30px 0 0
            li
                width: 100%
                flex: 0 0 auto
                margin-bottom: 30px
        &__link
            margin: 24px 0
        &__copy
            margin: 15px 0 0
    .auth
        &__submit
            width: 100%
        &__links
            text-align: center
        &__wrapper
            .progress
                p
                    font-size: 14px
                    top: 0px
                    height: 52px
                    display: flex
                    justify-content: center
                    align-items: center
@media (max-width: 575px)
    .p-50px
        padding: 20px
    .header
        height: 80px
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        .navbar-brand
            margin-right: 0px
            img
                width: 130px
                object-fit: contain
        &__switch
            margin-left: auto
            margin-right: -5px
            transform: scale(0.8)
            button, a
                padding: 13px 5px
        &__top
            justify-content: center
            flex-direction: column
        .navbar-toggler
            padding: 0
            margin-top: -2px
        &__navbar-collapse
            background-color: $white
            padding: 15px
            z-index: 10
            .navbar-nav
                margin: 15px 0 0
                width: 100%
                .nav-item
                    .nav-link
                        text-align: center
                        padding: 8px 0
                        &:after
                            display: none
        &__phone
            flex: 0 0 auto
            margin: 0 auto 15px
        &__button
            flex: 0 0 auto
            margin: 15px 0 0
        &_auth
            height: 170px - 35px
            position: static
            background-color: #f4f4f4
            padding-top: 15px
            .header
                &__navbar
                    padding: 0
                    flex-direction: column
                &__navbar-collapse
                    background: none
                    padding: 0
                    width: 100%
                &__top
                    flex-direction: row
                    width: 100%
                &__phone
                    margin: 0
                &__switch
                    margin: 0
            .navbar-brand
                margin: 0 auto
                img
                    width: 100%
                    height: 50px
    .calculator
        &__table
            width: 1100px
    .main
        &__carousel
            padding: 80px 0 0px
            .carousel
                margin: 0 -15px
                width: calc(100% + 30px)
                .carousel-cell
                    max-width: 100%
                    margin-right: 0px
                    padding: 15px
                    clip-path: inset(0px 0px 0px 0px)
                    min-height: 430px
                    b
                        width: 100%
                        font-size: 24px
                        height: auto
                        text-align: center
                    p
                        width: 100%
                        font-size: 14px
                        text-align: center
                    ul
                        flex-direction: column
                        align-items: flex-start
                        margin-left: 30%
                        width: 90%
                        position: relative
                        z-index: 2
                        li
                            flex: 0 0 auto
                            margin-bottom: 15px
                            p
                                width: 140px
                                font-size: 13px
                    &__buttons
                        position: absolute
                        bottom: 60px
                        left: 50%
                        transform: translateX(-50%)
                        flex-direction: column
                        align-items: center
                        .button
                            margin: 0
                            width: 240px
                            max-width: 100%
                    &_slide
                        &-1
                            .carousel-cell__image
                                right: -70px
                                top: 80px
                                transform: scale(0.8)
                        &-2
                            .carousel-cell__image
                                right: calc(50vw - 360px)
                                top: 100px
                                transform: scale(0.7)
                        &-3
                            .carousel-cell__image
                                right: -140px
                                top: 100px
                                transform: scale(0.7)
                        &-4
                            .carousel-cell__image
                                right: -180px
                                top: 90px
                                transform: scale(0.8)
                        &-5
                            .carousel-cell__image
                                right: -150px
                                top: 120px
                                transform: scale(0.7)
                        &-6
                            .carousel-cell__image
                                right: -90px
                                top: 60px
                                transform: scale(0.7)
                .slick-next, .slick-prev
                    display: none !important
        &__category
            &-title
                font-size: 36px
            &-wrapper
                b
                    min-height: 0
        &__calculator
            &-wrapper
                .calculator
                    &__choices
                        button
                            padding: 9px 7px
                    &__costs
                        width: 45%
    .block
        &__heading
            font-size: 38px
    .investition
        padding: 108px 0 58px
        .block
            &__heading
                font-size: 24px
            &__desc
                margin: 0 auto 15px
                &_main
                    font-size: 14px
                    margin-bottom: 0
        &_main
            padding: 28px 0 58px
        &__block
            flex-direction: column
            margin-bottom: 0px
            margin-top: 80px
            .left
                order: 1
                flex: 0 0 auto
                a
                    position: static
                    margin-top: 25px
                p
                    max-width: 100%
            .right
                order: 0
                flex: 0 0 auto
                img
                    height: 120px
                    margin: -90px auto 15px
            &_wide
                .right
                    margin: 0px
                    img
                        width: 100%
                        height: 190px
                        object-position: 70%
                        margin: -30px auto 15px
    .investition-more
        .heading
            padding: 108px 0 30px
            background-color: $white
            .container
                background: none
                height: auto
                .block
                    &__heading
                        font-size: 20px
                    &__heading, &__desc
                        width: 100%
                        padding-left: 0
                        text-align: center
            &__features
                padding: 0
        &_fitness
            .heading
                padding: 108px 0 30px
                background-color: $white
                .container
                    background: none
                    height: auto
                .block
                    &__heading
                        font-size: 20px
                    &__heading, &__desc
                        width: 100%
                        padding-left: 0
                        text-align: center
                &__features
                    margin-right: 0
                    padding: 0
                    flex-direction: column
                    li
                        flex: 0 0 auto
                        width: 100%
                        margin: 0 auto 15px
        &_rent
            .heading
                .container
                    height: auto
                &__features
                    margin-top: -20px
                    margin-right: 0
                    width: 100%
                    flex-direction: column
                    li
                        flex: 0 0 auto
                        width: 100%
                        height: auto
                        margin-bottom: 15px
                        .content
                            b
                                min-height: 36px
                        &:last-child
                            margin-top: 0
        &_auto
            .heading
                .container
                    height: auto
                &__features
                    flex-direction: column
                    li
                        .content
                            b
                                min-height: 36px
            .investition-section__list-heading
                li
                    width: 100%
                    height: auto
                    div
                        height: auto
                    .counter
                        top: -10px
                &.second
                    li
                        width: 100%
                        height: auto
                        .content
                            height: auto
        &_apartments
            .heading
                .container
                    height: auto
                &__features
                    width: 100%
                    flex-direction: column
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 15px
                        .content
                            b
                                min-height: 36px
                        &:last-child
                            margin-top: 0
        &_house
            .heading
                .container
                    height: auto
                &__features
                    flex-direction: column
                    padding-left: 30px
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 15px
                        .content
                            height: auto
            .investition-section
                &_dark
                    .investition-section__block-kasko
                        height: auto
                        b
                            height: auto
                &__block
                    &-slider
                        margin: 0
                        .calculate
                            flex-direction: column
                        .options__wrapper
                            margin-top: 15px
                            flex-direction: column
                            .options
                                order: 1
                &__list
                    &-heading
                        li
                            width: 100%
                            height: auto
                            .content
                                height: auto
                        &.second
                            li
                                width: 100%
                                height: auto
                                .content
                                    height: auto
                                .counter
                                    top: -10px
        &_avia
            .heading
                .container
                    background: url("../img/avia__bg.png") no-repeat right -100px top 190px / 700px, linear-gradient(to right, #f4f4f4 0%,#f4f4f4 100%) no-repeat left 300px / 1200px, #fff
                    left: 0
                    width: 100%
                    height: auto
                    .block
                        &__heading, &__desc
                            text-align: center
                            width: 100%
                &__features
                    width: 100%
                    margin: 250px 0px 40px
                    flex-direction: column
                    li
                        width: 100%
                        flex: 0 0 auto
                        margin-bottom: 30px
            .investition-section__block-slider
                .calculate
                    margin: 0
                    width: 100%
                    flex-direction: column
                    .left
                        flex: 0 0 auto
                    .right
                        height: auto
                        flex: 0 0 auto
                        margin-bottom: 30px
        &_about
            .heading
                .container
                    padding-left: 15px
                &__list
                    flex-wrap: wrap
                    li
                        flex: 0 0 50%
                        margin-right: 0
                        margin-bottom: 30px
                        text-align: center
                        &:after
                            display: none
    .investition-section
        .block
            &__heading
                font-size: 20px
        &__list
            flex-direction: column
            li
                width: 100%
                margin-bottom: 30px
                &:after
                    display: none
            &-heading
                flex-direction: column
                margin: 0 auto
                &:after
                    display: none
                li
                    height: auto
                    width: 100%
                    margin-bottom: 30px
                    p
                        margin-top: 20px
                    &:before, &:after
                        display: none
                    .counter
                        position: absolute
                        transform: none
                        font-size: 19px
                        top: -10px
                        left: 83px
                &.second
                    li
                        width: 100%
                        height: auto
                        .counter
                            top: -10px
            &-reasons
                flex-direction: column
                li
                    width: 100%
                    flex: 0 0 auto
                    .counter
                        width: 60px
                        flex: 0 0 60px
                    &:after
                        display: none
            &-income
                flex-direction: column
                li
                    flex: 0 0 auto
                    width: 100%
                    margin-bottom: 30px
                    &:after, .decor
                        display: none
            &-certs
                flex-direction: column
                li
                    flex: 0 0 auto
                    width: 100%
                    margin-bottom: 30px
        &__block
            &-kasko
                margin: 0 0 50px 40px
            &-slider
                padding: 15px
                height: auto
                &__block
                    flex: 0 0 auto
                    width: 100%
                b
                    font-size: 18px
                .calculate
                    .left
                        flex: 0 0 40%
                        b
                            span
                                font-size: 20px
                    .right
                        flex: 0 0 60%
            &-house
                &-main
                    width: 100%
                    padding: 30px
                    b
                        font-size: 20px
                &-bottom
                    flex-direction: column
                    img
                        width: 110px
                    div
                        padding: 0
                        margin-top: 15px
                        p
                            padding-bottom: 0
                        a
                            position: static
            &-avia
                &-title
                    flex-direction: column
                    justify-content: center
                    b
                        flex: 0 0 auto
                    p
                        margin-top: 15px
                        text-align: center
                    &-2
                        margin-bottom: 0
                &-heading
                    margin-top: 30px
                &-left
                    b
                        min-height: 0
                    ul
                        li
                            width: 100%
                            flex: 0 0 100%
                &-bottom
                    justify-content: center
        &__carousel
            margin-top: 30px
            .slick-prev, .slick-next
                transform: scale(0.8)
                left: -15px
            .slick-prev
                top: 5%
            .slick-next
                top: 25%
            .carousel-cell
                .numbers
                    margin: 44px -45px 30px
                    width: calc(100% + 90px)
                    .left
                        b
                            font-size: 16px
        &__heading
            &-left, &-right
                margin-top: 15px
                display: block
                padding: 15px 0
                text-align: center
        &__total
            .left
                padding: 0
                b
                    font-size: 16px
            .right
                padding: 0
                p
                    text-align: center
        &__note
            &-about
                padding: 40px 15px
                &:before
                    top: -15px
                    left: 50%
                    transform: translateX(-50%)
        &__autocare
            li
                flex: 0 0 50%
        &.safety
            .safety
                &__block
                    padding: 30px 20px
                    b
                        font-size: 36px
    .transfers
        padding: 100px 0 58px
        .block
            &__heading
                font-size: 26px
        &__block
            padding: 30px 15px
            height: auto
            .heading
                b
                    font-size: 20px
                .currencies
                    display: flex
                    align-items: center
                    margin-left: 10px
                    .icon
                        width: 32px
                        height: 32px
                        flex: 0 0 32px
                        margin-right: 2px
                        p,i
                            font-size: 20px
                        img
                            width: 20px
                            height: 20px
                            flex: 0 0 20px
        .table-responsive-lg
            overflow-y: hidden
        &__table
            tbody
                tr
                    td
                        font-size: 16px
            &_bottom
                width: 800px
    .cards
        &-top
            padding: 130px 0 20px
            .block
                &__heading
                    font-size: 28px
                    text-align: center
                &__desc
                    font-size: 14px
                    text-align: center
                    margin: 0 auto 15px
        &__heading
            font-size: 22px
        &__block
            div
                flex-direction: column
                img
                    margin-bottom: 15px
        &__image
            margin: 0 auto
            max-width: 100%
    .deposits
        padding: 100px 0 58px
        .block
            &__heading
                font-size: 22px
        &__type
            font-size: 30px
            a
                display: block
                position: static
                margin-top: 15px
        &__table
            padding: 22px
        &__heading
            b
                font-size: 14px
            .currency
                margin: 0 15px
                transform: scale(0.7)
            .bonus
                transform: scale(0.7)
                margin-left: -25px
        &__body
            flex-wrap: wrap
            justify-content: center
            .block
                flex: 0 0 100%
                margin-bottom: 15px
                p
                    font-size: 14px
                &:nth-child(3)
                    b
                        text-align: center
                    p
                        text-align: center
    .news
        padding: 100px 0 58px
        background: linear-gradient(to right, #fff 0%, #fff 100%) no-repeat left 390px/1200px, #f4f4f4
        .block
            &__heading
                text-align: center
                font-size: 24px
            &__desc
                text-align: center
        &__categories
            padding: 0
        &__block
            flex-direction: column
        &__text
            flex: 0 0 auto
            width: 100%
            .heading
                text-align: center
        &__image
            flex: 0 0 auto
            width: 100%
            margin-bottom: 15px
        &__tags
            justify-content: center
            flex-wrap: wrap
            a
                margin: 15px auto 0
        &__subscribe
            margin: 15px auto 0
    .jobs
        padding: 100px 0 58px
        &__pros
            flex-direction: column
            li
                width: 100%
                &:after
                    display: none
                &:last-child
                    width: 100%
        &__features
            flex-direction: column
        &__block
            margin-top: 15px
            height: auto
            padding: 30px 15px
    .partners
        padding: 100px 0 58px
        &__block
            flex-direction: column
            p
                padding: 0
                text-align: center
            ul
                flex-direction: column
                margin-top: 15px
                li
                    width: 240px
                    margin-right: 0
                    margin-bottom: 15px
    .footer
        &__phone
            font-size: 18px
        &__address
            flex-direction: column
            margin: 30px 0 0
            li
                width: 100%
                flex: 0 0 auto
                margin-bottom: 30px
        &__link
            margin: 24px 0
        &__copy
            margin: 15px 0 0
    .auth
        .block
            &__heading
                font-size: 28px
        &__wrapper
            padding: 48px 15px
            form
                .input-group
                    &-text
                        width: 100%
                        flex: 0 0 100%
                    &-prepend
                        width: 100%
                        display: none
                    .form-control
                        font-size: 14px
                        border-radius: 0.25rem
                        &.password
                            border-radius: 0.25rem
            .progress
                p
                    font-size: 14px
                    top: 0px
                    height: 52px
                    display: flex
                    justify-content: center
                    align-items: center
        &__submit
            width: 100%
        &__status
            height: auto
            margin-bottom: 8px
            p
                text-align: center
        &__notification
            font-size: 14px
        &__links
            text-align: center
            align-items: center
            p
                width: 100%
                margin: 0
            &_register
                margin-top: 30px
    .flag-select-button
        left: 10px
        top: 5px